<h1>Please add a new contact ! !</h1>
<br>
<%= form_tag("/contacts", method: "post") do %>
  <div><%= label_tag(:first_name, "First_name:") %>
  <%= text_field_tag(:first_name) %></div>

  <div><%= label_tag(:middle_name, "middle_name:") %>
  <%= text_field_tag(:middle_name) %></div>

  <div><%= label_tag(:last_name, "Last_name:") %>
  <%= text_field_tag(:last_name) %></div>

  <div><%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %></div>

  <div><%= label_tag(:phone_number, "Phone_number:") %>
  <%= text_field_tag(:phone_number) %></div>

  <div><%= label_tag(:bio, "Biography:") %>
  <%= text_field_tag(:bio) %></div>

  <div><%= label_tag(:address, "Address:") %>
  <%= text_field_tag(:address) %></div>

  <%= submit_tag("Create your new contact!") %>
<% end %>
